.footer
	.container
		.search-bar
			form(action="#")
				.form-group
					.input-group
						input(type="text" placeholder="Your Email Adress")
						input(type="button", name="Subscribe", value="Subscribe")
		.about-bar
			ul
				li
					a(href="about.html", target="_blank") About
				li
					a(href="terms-of-service.html", target="_blank") Terms of Service
		.socials-holder
			ul
				li
					a(href="#", target="_blank")
						i.fa.fa-facebook-official
				li
					a(href="#", target="_blank")
						i.fa.fa-pinterest
				li
					a(href="#", target="_blank")
						i.fa.fa-twitter
				li
					a(href="#", target="_blank")
						i.fa.fa-tumblr
			.email-holder
				a(href="mailto:blevogue@gmail.com") blevogue@gmail.com
		.lang-switcher-holder
			ul
				li.active
					a(href="#") Укр
				li
					a(href="#") Eng
		.production-holder
			a(href="http://makemeat.com/") make in
				b  MEAT
