.footer
	.container
		.about-bar
			ul
				li
					a(href="about.html", target="_blank") About
				li
					a(href="terms-of-service.html", target="_blank") Terms of Service
		.search-bar
			form(action="#")
				.form-group
					.input-group
						input(type="text" placeholder="Your Email Adress")
						input(type="button", name="Subscribe", value="Subscribe")
		.socials-holder
			ul
				li
					a(href="#", target="_blank") Facebook
				li
					a(href="#", target="_blank") Pinterest
				li
					a(href="#", target="_blank") Twitter
				li
					a(href="#", target="_blank") Tumblr
			.email-holder
				a(href="mailto:blevogue@gmail.com") blevogue@gmail.com
		.lang-switcher-holder
			ul
				li.active
					a(href="#") Укр
				li
					a(href="#") Eng
		.production-holder
			//- a(href="http://makemeat.com/") make in
			//- 	b  MEAT
			a(href="http://makemeat.com/")
				img(src="img/icons/make-in-meat.svg", alt="make in meat")
