.footer
	.footer-logo
		img(src="img/icons/main-logo.svg", alt="BLEVOGUE")
	.search-bar
		form(action="#")
			.form-group
				label(for="subscriber")
				input(type="text" placeholder="Your email adress")
				input(type="button", name="Subscribe", value="Subscribe")
	.socials-holder
		.label Соц мережi
		ul
			li
				a(href="#", target="_blank")
					i.fa.fa-facebook
			li
				a(href="#", target="_blank")
					i.fa.fa-pinterest
			li
				a(href="#", target="_blank")
					i.fa.fa-twitter
			li
				a(href="#", target="_blank")
					i.fa.fa-tumblr