.modal-holder#mobile-menu(data-cross="cross-navigation")
	.modal-content
		.modal-container
			.popup-navigation
				ul.navigation-pannel
					li
						a(href="test.html")
							span Особисте
							svg
								text(x="0" y="1em") Особисте
					li
						a(href="test.html")
							span Поради
							svg
								text(x="0" y="1em") Поради
					li
						a(href="blog.html")
							span Мода
							svg
								text(x="0" y="1em") Мода
					li
						a(href="test.html")
							span Iнтерв'ю
							svg
								text(x="0" y="1em") Iнтерв'ю
					li
						a(href="videos.html")
							span Вiдео
							svg
								text(x="0" y="1em") Вiдео
					li
						a(href="test.html")
							span Стиліст
							svg
								text(x="0" y="1em") Стиліст

.modal-holder#search-modal(data-cross="cross-top")
	.modal-content
		.modal-container
			form(action="#").input-group
				button(type="submit").search-icon-1
				input(type="text" placeholder="Search")
			.result-group
				.articles-gallery-1
					.container
						include ./articles.jade

.modal-holder#login-modal(data-cross="cross-top")
	.modal-content
		.modal-container
			.login-methoods-container
				.logotype-holder.button-group
					img(src="img/icons/blevogue-footer.png", alt="BLEVOGUE")
				.button-group.facebook-login-button
					a(href="index.html") Login with
						b  Facebook
				.button-group.email-login-button
					a(href="signup.html" data-modal="#login-modal-email") Login with
						b  Email
				.button-group
					a(href="signup.html" data-modal="#signup-modal") Sign Up


.modal-holder#login-modal-email(data-cross="cross-top")
	.modal-content
		.modal-back(data-modal="#login-modal")
		.modal-container
			a(href="https://www.facebook.com/").socials-login-container.hidden Login with
				b  facebook
			form(action="#")
				.form-group
					.input-group
						label(for="popup-login-email") Email
						input(type="text")#popup-login-email
				.form-group
					.input-group
						label(for="popup-login-password") Password
						input(type="password")#popup-login-password
						a(href="password-recovery.html" data-modal="#password-recovery").forgot-password Forgot?
				.button-group
					button(type="submit")
						span Log In
				.button-group
					a(href="signup.html" data-modal="#signup-modal") Sign Up

.modal-holder#signup-modal(data-cross="cross-top")
	.modal-content
		.modal-container
			a(href="https://www.facebook.com/").socials-login-container Login with
				b  facebook
			form(action="#")
				.form-group
					.input-group
						label(for="popup-login-name") Name
						input(type="text")#popup-login-name
				.form-group
					.input-group
						label(for="popup-login-email") Email
						input(type="text")#popup-login-email
				.form-group
					.input-group
						label(for="popup-login-password") Password
						input(type="password")#popup-login-password
				.button-group
					button(type="submit")
						span Sign Up

.modal-holder#password-recovery(data-cross="cross-top")
	.modal-content
		.modal-back(data-modal="#login-modal")
		.modal-container
			form(action="#")
				.form-group
					.input-group
						label(for="popup-forgot-email") Email
						input(type="text")#popup-forgot-email
						.additional We’ll get you back
				.button-group
					button(type="submit")
						span Reset

.modal-holder#password-change(data-cross="cross-top")
	.modal-content
		.modal-container
			form(action="#")
				.form-group
					.input-group.input-group-1
						label(for="popup-forgot-new-password-1") New password
						input(type="text")#popup-forgot-new-password-1
					.input-group.input-group-1
						label(for="popup-forgot-new-password-2") New password (replay)
						input(type="text")#popup-forgot-new-password-2
				.button-group
					button(type="submit")
						span Change

//- .modal-holder(data-modal-ununique="true")
	//- .modal-content
		//- .close-modal(data-close)
		//- .modal-container
