.preloader
	.after

div#to-top
	img(src="img/icons/up_button.svg" alt="toTop")

//- h1 test
.main-navigation
	.container
		.logotype-holder
			img(src="img/icons/main-logo.svg", alt="BLEVOGUE")
		ul.navigation-pannel
			li 
				a(href="home.html") Хоум
			li 
				a(href="privat.html") Особисте
			li 
				a(href="advice.html") Поради
			li 
				a(href="fashion.html") Мода
			li 
				a(href="interviews.html") Iнтерв'ю
			li 
				a(href="videos.html") Вiдео