.preloader
	.after
	img(src="img/icons/blevogue_black_logo.svg", alt="blevogue")
#to-top-container
	.container
		div#to-top
			img(src="img/icons/arrow_up-1.svg" alt="toTop")

//- background pattern
svg.svg-defs
	defs
		pattern#pattern(patternunits="userSpaceOnUse", width="200", height="300", viewbox="0 0 200 300")
			image(xlink:href="https://unsplash.it/200/300?image=17", width="200", height="300")

.main-navigation
	.block-holder
		.logotype-holder
			a(href="index.html")
				img(src="img/icons/blevogue.svg", alt="BLEVOGUE")
		ul.navigation-pannel
			li.active
				a(href="home.html")
					span Хоум
					svg
						text(x="0" y="1em") Хоум
			li
				a(href="privat.html")
					span Особисте
					svg
						text(x="0" y="1em") Особисте
			li
				a(href="advices.html")
					span Поради
					svg
						text(x="0" y="1em") Поради
			li
				a(href="fashion.html")
					span Мода
					svg
						text(x="0" y="1em") Мода
			li
				a(href="interviews.html")
					span Iнтерв'ю
					svg
						text(x="0" y="1em") Iнтерв'ю
			li
				a(href="videos.html")
					span Вiдео
					svg
						text(x="0" y="1em") Вiдео
		.controls-holder
			a(href="search.html" data-modal="#search-modal").search-button
				i.search-icon-1
				span Пошук
			a(href="login.html" data-modal="#login-modal").login-button
				i.login-icon-1
				span Логін
			a(href="profile.html" data-modal="#profile-modal").profile-button
				i.profile-image(style="background-image: url(http://40.media.tumblr.com/355c4c5196bf6c05e1a37093a7682d09/tumblr_o3h2h81gst1slisbmo1_1280.jpg)")

.mobile-navigation
	.block-holder
		.gamburger(data-modal="#mobile-menu")
			a(href="mobile-navigation.html")
				img(src="img/icons/gamburger.svg")
		.logotype-holder
			a(href="index.html")
				img(src="img/icons/blevogue.png", alt="BLEVOGUE")
		.controls-holder
			a(href="search.html" data-modal="#search-modal").search-button
				i.search-icon-1
			a(href="login.html" data-modal="#login-modal").login-button
				i.login-icon-1
			a(href="profile.html" data-modal="#profile-modal").profile-button
				i.profile-image
				i.profile-image(style="background-image: url(http://40.media.tumblr.com/355c4c5196bf6c05e1a37093a7682d09/tumblr_o3h2h81gst1slisbmo1_1280.jpg)")
