.preloader
	.after
#to-top-container
	.container
		div#to-top
			img(src="img/icons/up_button.svg" alt="toTop")

//- background pattern
svg.svg-defs
	defs
		pattern#pattern(patternunits="userSpaceOnUse", width="200", height="300", viewbox="0 0 200 300")
			image(xlink:href="https://unsplash.it/200/300?image=17", width="200", height="300")

.main-navigation
	.block-holder
		.logotype-holder
			a(href="index.html")
				img(src="img/icons/main-logo.svg", alt="BLEVOGUE")
		ul.navigation-pannel
			li.active
				a(href="home.html")
					span Хоум
					svg
						text(x="0" y="1em") Хоум
			li
				a(href="privat.html")
					span Особисте
			li
				a(href="advices.html")
					span Поради
			li
				a(href="fashion.html")
					span Мода
			li
				a(href="interviews.html")
					span Iнтерв'ю
			li
				a(href="videos.html")
					span Вiдео
		.controls-holder
			a(href="search.html").search-button
				i.search-icon-1
				span Пошук
			a(href="login.html").login-button
				i.login-icon-1
				span Логін
