$large: 1300px
$medium: 1260px
$tablet: 1000px
$mobile-large: 760px
$mobile-medium: 640px
$mobile-small: 480px
$mobile-x-small: 320px

.socials-holder
	li
		display: inline-block
		position: relative


// --------------------------------------------------
// PARALLAX-ELEMENT
// --------------------------------------------------

.parallax-element
	position: absolute
	background-position: 50% 50%
	background-size: contain
	background-repeat: no-repeat
	// transition: transform 0.4s
	// position: fixed
	// display: none
	pointer-events: none
	&.type-1
		top: 5px
		right: -120px
		height: 209px
		width: 195px
		background-image: url('../img/bg/abstract-icon-1.svg')
		.illustration
	&.type-2
		top: -46px
		left: -86px
		height: 151px
		width: 138px
		background-image: url('../img/bg/abstract-icon-2.svg')
		.illustration
	&.type-3
		left: 109px
		top: 162px
		height: 99px
		width: 109px
		background-image: url('../img/bg/abstract-icon-3.svg')
		.illustration
	&.type-4
		right: -157px
		top: -9px
		height: 256px
		width: 179px
		background-image: url('../img/bg/abstract-icon-4.svg')
		.illustration
	&.type-5
		top: -106px
		left: -81px
		height: 268px
		width: 179px
		background-image: url('../img/bg/abstract-icon-5.svg')
		.illustration
	&.type-6
		top: 523px
		right: -199px
		transform: rotateZ(56deg) rotateY(180deg)
		height: 169px
		width: 172px
		background-image: url('../img/bg/abstract-icon-6.svg')
		.illustration
	&.type-7
		left: -140px
		top: 274px
		top: -186px
		height: 154px
		width: 179px
		background-image: url('../img/bg/abstract-icon-7.svg')
		.illustration
	&.type-8
		right: -138px
		top: 6px
		transform: rotateZ(56deg)
		height: 209px
		width: 192px
		background-image: url('../img/bg/abstract-icon-8.svg')
		.illustration
	&.type-9
		left: -102px
		top: 60px
		height: 212px
		width: 199px
		background-image: url('../img/bg/abstract-icon-9.svg')
		.illustration
	&.type-10
		top: -63px
		right: -150px
		height: 195px
		width: 130px
		background-image: url('../img/bg/abstract-icon-10.svg')
		display: none
		.illustration
	&.type-11
		left: -103px
		top: 624px
		height: 255px
		width: 200px
		background-image: url('../img/bg/abstract-icon-11.svg')
		.illustration
	.illustration
		background-position: 50% 50%
		background-size: contain
		background-repeat: no-repeat
		height: inherit
		width: inherit

@media screen and (max-width: $medium)
	.parallax-element
		&.type-1
			right: -147px
			top: -16px
			width: 153px
		&.type-2
			top: 27px
			left: -146px
			width: 104px
		&.type-3
			left: -4px
			top: 184px
			width: 78px
		&.type-4
			right: -165px
			top: 36px
			width: 124px
		&.type-5
			top: -199px
			left: -165px
			width: 143px
		&.type-6
			top: -135px
			right: -199px
			transform: rotateZ(56deg) rotateY(180deg)
			width: 126px
		&.type-7
			left: -174px
			top: -44px
			width: 119px
		&.type-8
			right: -160px
			top: -78px
			transform: rotateZ(56deg)
			width: 146px
		&.type-9
			top: -177px
			left: -143px
			width: 110px
		&.type-10
			top: -116px
			right: -179px
			width: 108px
		&.type-11
			left: -176px
			top: 317px
			width: 200px
@media screen and (max-width: $tablet)
	.parallax-element
		display: none
