// $font-stack:
// $main-color:
// $dark-color:
#__bs_notify__ 
	display: none !important
	opacity: 0 !important

body::-webkit-scrollbar
	height: 0
	width: 0

.preloader
	display: none

// --------------------------------------------------
// MAIN-NAVIGATION
// --------------------------------------------------

.item--svg-fill text
	fill: url(/#pattern) // firefox fallback
	fill: url(#pattern)

.svg-defs
	position: absolute
	width: 0
	height: 0

.main-navigation
	background: #fff
	left: 0
	padding: 0 40px
	position: fixed
	top: 0
	width: 100%
	z-index: 11
	.block-holder
		position: relative
		.logotype-holder
			left: 0
			position: absolute
			top: 20px
		.navigation-pannel
			padding: 28px 0 28px
			text-align: center
			li
				display: inline-block
				margin: 0 20px
				position: relative
				&.active
					a
						cursor: auto
						pointer-events: none
						font-weight: 600
						color: transparent
				&.active:after
					// background: #000
					background: url('http://img-fotki.yandex.ru/get/5607/5091629.6b/0_612e6_b9039c0d_M.jpg')
					background-position: 50%;
					border-radius: 50%
					bottom: -12px
					content: ''
					height: 6px
					left: 50%
					// margin-left: -3px
					position: absolute
					width: 6px
				a
					padding: 4px 10px
					color: #35363c
					font-family: 'Futura New'
					font-size: 22px
					font-weight: 500
					// line-height: 27px
					line-height: 1em
					span
						display: inline-block
					svg
						position: absolute
						pointer-events: none
						left: 10px
						top: -4px
						text
							fill: url(/#pattern)
					span
						transition: transform .3s
					&:hover
						span
							transform: translate(0, -4px)
							transition: transform .3s

// --------------------------------------------------
// ARTICLES
// --------------------------------------------------

.articles-gallery-1
	// margin: 0 -24px
	h3
		color: #35363c
		font-size: 34px
		letter-spacing: -1px
		line-height: 1em
		margin-bottom: 8px
	p
		color: #636671
		font-size: 17px
		font-weight: 400
		letter-spacing: 0.4px
		line-height: 24px
	article
		display: inline-block
		position: relative
		font-size: 0
		transition: opacity .3s
		vertical-align: top
		// a.image-holder
		// 	display: block
	.img
		display: block
		opacity: 1
		transition: opacity .3s
	article.hover
		.img
			opacity: 0
			transition: opacity .3s
	.description
		background: #fff
		display: block
		padding: 30px 40px
		position: relative
	.article-link
		display: block
		height: 100%
		width: 100%
	.date-holder
		position: absolute
		text-align: right
		top: 30px
		right: 30px
		color: white
		font-family: 'Futura New'
		font-size: 16px
		font-weight: 500
		line-height: 19px
		transform: translateX(200%)
		transition: transform .3s
	article.hover
		.date-holder
			transform: translateY(0)
			transition: transform .3s
	.socials-holder
		top: 30px
		left: 30px
		position: absolute
		transform: translateY(-200%)
		transition: transform .3s
		z-index: 1
		li
			display: block
			a
				color: #fff
				display: block
	article.hover
		.socials-holder
			transform: translateY(0)
			transition: transform .3s

	.article-holder-1
		margin-top: 114px
		article
			.image-holder
				height: 400px
				width: 600px
			.description
				left: 490px
				top: -112px
				width: 390px

	.article-holder-2
		margin-top: 4px
		margin-left: 390px
		article
			.image-holder
				height: 464px
				width: 320px
			.description
				left: 240px
				top: -110px
				width: 390px

	.article-holder-3
		margin-top: 30px
		article:nth-child(1)
			width: 500px
			.image-holder
				height: 464px;
				width: 320px;
			.description
				left: 210px
				top: -108px
				width: 390px
		article:nth-child(2)
			margin-top: 100px
			margin-left: 196px
			overflow: hidden
			width: 320px
			.image-holder
				height: 464px
				width: 320px
			.description
				background: transparent
				padding-left: 0
				padding-right: 0
				left: 0
				top: 0
				width: 320px

	.article-holder-4
		margin-top: 0
		article:nth-child(1)
			margin-top: 82px
			width: 500px
			.image-holder
				height: 464px
				width: 320px
			.description
				left: 210px
				top: -108px
				width: 390px
		article:nth-child(2)
			margin-top: 2px
			margin-left: 166px
			overflow: hidden
			width: 350px
			.image-holder
				height: 254px
				width: 350px
			.description
				background: transparent
				padding-left: 0
				padding-right: 0
				left: 0
				top: 0
				width: 320px

	.article-holder-5
		margin-top: 0
		article:nth-child(1)
			margin-top: 105px
			margin-left: 140px
			width: 350px
			.image-holder
				height: 254px
				width: 350px
			.description
				background: transparent
				padding-left: 0
				padding-right: 0
				left: 0
				top: 0
				width: 350px
		article:nth-child(2)
			margin-top: 46px
			margin-left: 206px
			overflow: hidden
			width: 320px
			.image-holder
				height: 464px
				width: 350px
			.description
				background: transparent
				padding-left: 0
				padding-right: 0
				left: 0
				top: 0
				width: 320px

	.article-holder-6
		margin-top: 0
		article:nth-child(1)
			margin-top: 87px
			margin-left: 0
			width: 350px
			.image-holder
				height: 254px
				width: 350px
			.description
				background: transparent
				padding-left: 0
				padding-right: 0
				left: 0
				top: 0
				width: 350px
		article:nth-child(2)
			margin-top: 186px
			margin-left: 316px
			overflow: hidden
			width: 350px
			.image-holder
				height: 254px
				width: 350px
			.description
				background: transparent
				padding-left: 0
				padding-right: 0
				padding-bottom: 0
				left: 0
				top: 0
				width: 320px

	.article-holder-7
		margin-top: 87px
		text-align: right
		article
			width: 600px
			.image-holder
				width: 600px
				height: 400px
			.description
				text-align: left
				left: 106px
				top: -119px
				width: 390px

	.article-holder-8
		margin-top: 10px
		text-align: right
		article
			width: 600px
			.image-holder
				width: 600px
				height: 400px
			.description
				text-align: left
				left: 106px
				top: -119px
				width: 390px

	.last
		margin-top: 0
		margin-bottom: 44px

	.load-more-holder
		text-align: center
		margin-bottom: 85px
		.btn.load-more
			outline: 2px solid #35363c
			outline-offset: -2px
			display: inline-block
			height: 46px
			padding: 0 30px
			position: relative
			transition: outline .3s
			span
				color: #35363c
				font-size: 20px
				font-weight: 300
				height: 24px
				line-height: 46px
				margin: 0 8px
				width: 61px
				transition: color .3s, margin .3s
			&:hover
				outline-color: transparent
				transition: outline .1s
			&:hover span
				color: white
				margin: 0 16px 0 0
				position: relative
				transition: color .1s, margin .1s
			&:before
				content: ''
				background: url('https://unsplash.it/600/400?image=17') no-repeat
				display: block
				opacity: 0
				position: absolute
				left: 0
				top: 0
				height: 100%
				width: 100%
				transition: opacity .3s
			&:hover:before
				opacity: 1
				transition: opacity .1s
			&:after
				background: url('../img/icons/arrow-down-1.svg') no-repeat
				content: ''
				display: block
				top: 17px
				right: 18px
				position: absolute
				height: 16px
				line-height: 46px
				width: 12px
				opacity: 0
				transform: translateX(0)
				transition: opacity .3s, transform .3s
			&:hover:after
				opacity: 1
				transform: translateX(-8px)
				transition: opacity .1s, transform .1s

.msie
	.articles-gallery-1
		.article-holder-3
			article:nth-child(2)
				margin-left: 194px
		.article-holder-4
			article:nth-child(2)
				margin-left: 165px
		.article-holder-5
			article:nth-child(2)
				margin-left: 204px
		.article-holder-6
			article:nth-child(2)
				margin-left: 314px


.footer
	background: #eee
	.container
		padding: 32px 0 29px
		position: relative
		width: 1220px
		&:before
			content: ''
			display: block
			background: url('../img/bg/bg-line-1.jpg')
			background-size: cover
			position: absolute
			left: 0
			top: -4px
			height: 4px
			width: 100%
		.label
			display: block
			margin-bottom: 11px
			color: #636671
			font-family: 'Futura New'
			font-size: 16px
			font-weight: 300
			line-height: 19px
		& > *
			display: inline-block
			vertical-align: top
		.footer-logo
			margin-top: 36px
			width: 207px
		.search-bar
			margin-left: 70px
			max-width: 450px
			.input-group
				position: relative
			input
				height: 46px
				color: #b2b6c2
				font-family: 'Futura New'
				font-size: 18px
				font-weight: 300
				// line-height: 22px
				&::-moz-placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder , 
					color: #35363c
					font-family: 'Futura New'
					font-size: 18px
					font-weight: 300
					line-height: 22px
			input[type="text"]
				width: 100%
			input[type="button"]
				background: url('https://unsplash.it/600/400?image=33')
				background-size: cover
				background-position: 50% 100%
				color: white
				font-family: 'Futura New'
				font-size: 20px
				font-weight: 700
				line-height: 25px
				padding: 0 23px
				position: absolute
				right: 0
				top: 0
			.copyright
				color: #636671
				font-family: 'Futura New'
				font-size: 14px
				font-weight: 300
				line-height: 18px
				margin-top: 14px
		.socials-holder
			margin-left: 76px
			.email-holder
				a
					color: #636671
					font-family: 'Futura New'
					font-size: 19px
					font-weight: 300
					line-height: 23px
			ul
				margin-top: 23px
				margin-bottom: 17px
				a
					font-size: 22px
					line-height: 1em
					margin-right: 25px
					opacity: 0.8
					transition: opacity .3s
					&:hover
						opacity: 1
						transition: opacity .1s
