// $font-stack:
// $main-color:
// $dark-color:

.preloader
	display: none

.main-navigation
	.container
		position: relative
		.logotype-holder
			position: absolute
			left: 0
		.navigation-pannel
			text-align: center
			li
				display: inline-block
				margin-left: 50px
				a
					padding: 4px 10px

.articles-gallery-1
	.article-holder-1
		.image-holder
			width: 50%
		.description
			background: #fff
			position: relative
			left: 38%
			top: -100px
			padding: 20px
			width: 30%
	.article-holder-2
		margin-left: 20%
		.image-holder
			width: 50%
		.description
			background: #fff
			position: relative
			left: 38%
			top: -100px
			padding: 20px
			width: 30%
	.article-holder-3
		article
			float: left
		article:nth-child(1)
			width: 56%
			.image-holder
				width: 72%
			.description
				background: #fff
				position: relative
				left: 12%
				top: -100px
				padding: 20px
				width: 55%
		article:nth-child(2)
			margin-top: 40px
			width: 43%
			.image-holder
				width: 42%
			.description
				background: #fff
				position: relative
				left: 10%
				top: -100px
				padding: 20px
				width: 61%

.footer
	background: #eee
	& > *
		display: inline-block
