// $font-stack:
// $main-color:
// $dark-color:

.preloader
	display: none

// main-navigation
.item--svg-fill text
	fill: url(/#pattern)

.svg-defs
	position: absolute
	width: 0
	height: 0

.main-navigation
	background: #fff
	left: 0
	padding: 0 40px
	position: fixed
	top: 0
	width: 100%
	z-index: 11
	.block-holder
		position: relative
		.logotype-holder
			left: 0
			position: absolute
			top: 20px
		.navigation-pannel
			padding: 20px 0 28px
			text-align: center
			li
				display: inline-block
				margin-left: 50px
				position: relative
				&.active
					a
						font-weight: 600
						color: transparent
				&.active:after
					// background: #000
					background: url('http://img-fotki.yandex.ru/get/5607/5091629.6b/0_612e6_b9039c0d_M.jpg')
					background-position: 50%;
					border-radius: 50%
					bottom: -12px
					content: ''
					height: 6px
					left: 50%
					// margin-left: -3px
					position: absolute
					width: 6px
				a
					padding: 4px 10px
					color: #35363c
					font-family: 'Futura New'
					font-size: 22px
					font-weight: 500
					// line-height: 27px
					line-height: 1em
					svg
						position: absolute
						pointer-events: none
						left: 15px
						top: 0
						text
							fill: url(/#pattern)

.articles-gallery-1
	.article-holder-1
		.image-holder
			height: 400px
			width: 600px
		.description
			background: #fff
			position: relative
			left: 38%
			top: -100px
			padding: 20px
			width: 30%
	.article-holder-2
		margin-left: 20%
		.image-holder
			width: 50%
		.description
			background: #fff
			position: relative
			left: 38%
			top: -100px
			padding: 20px
			width: 30%
	.article-holder-3
		article
			float: left
		article:nth-child(1)
			width: 56%
			.image-holder
				width: 72%
			.description
				background: #fff
				position: relative
				left: 12%
				top: -100px
				padding: 20px
				width: 55%
		article:nth-child(2)
			margin-top: 40px
			width: 43%
			.image-holder
				width: 42%
			.description
				background: #fff
				position: relative
				left: 10%
				top: -100px
				padding: 20px
				width: 61%

.footer
	background: #eee
	& > *
		display: inline-block
