doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.article-header
			.container
				.image-holder
					img.fake-img(src="http://41.media.tumblr.com/27d5b62368cf54d79a9446f2bbb33bc7/tumblr_o44rnyAM7l1slisbmo4_1280.jpg", alt="article")
					.img(style="background-image:url(http://41.media.tumblr.com/27d5b62368cf54d79a9446f2bbb33bc7/tumblr_o44rnyAM7l1slisbmo4_1280.jpg)")
		section.article-page
			.article-name
				h1 Що почитати, щоб мозку прибавилося?
			.article-date
				span 15 Dec 2016
		.article-content
			.article-wysiwyg
				p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що наш час загубив сутність роботи Крістіана Діора довкола свого модного дому. Про що це я?
				blockquote Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла
				blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa illum rerum excepturi praesentium non totam ratione eius quae alias esse ad assumenda aspernatur explicabo accusantium dolores similique, deleniti voluptatem reprehenderit.
				hr
				blockquote ipsum dolor sit amet, consectetur adipisicing elit. Ipsa illum rerum excepturi praesentium non totam ratione eius quae alias esse ad assumenda aspernatur
				blockquote elit
				//- blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ut placeat consequuntur pariatur iure eum ducimus quasi perferendis, laborum obcaecati iusto ullam expedita excepturi debitis nisi deserunt fugiat velit assumenda.
				//- blockquote ullam expedita excepturi debitis nisi deserunt fugiat velit assumenda.
				//- blockquote ipsum expedita excepturi debitis nisi deserunt fugiat velit assumenda.
				img(src="http://40.media.tumblr.com/e0565f47a0768c83b6ce5e6f6732d6d7/tumblr_inline_o4a44rjD5K1spa7ad_540.jpg", alt="article")
				h3 Сьогодні приймаємо як належне речі
				p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що наш час загубив сутність роботи Крістіана Діора довкола свого модного дому. Про що це я?
				img(src="http://41.media.tumblr.com/9a9a6dea9fcbcfa23b8cdad93edd7f55/tumblr_inline_o3v7ubE1Pw1spa7ad_1280.jpg", alt="article").full
				h3 It sound likes your work for the studio crossed over pretty seamlessly into your personal work…
				p Alex: That’s where I come into play. I’m a business lawyer and I consult companies, also when they’re starting out. The development of Buchholz—it’s been about ten years now—didn’t just happen on the drawing table. Personal contacts and conversations with our network of friends and acquaintances were far more important. <br /> I can give you a good example from when we still had a showroom here in Münzstraße. At the time we didn’t feel it really suited us to have a shop that was always open. So Katja said, ‘Okay, we’ll open up on Saturdays from 12 to 2.’ But then when it got to just before 12 on a Saturday we’d have other priorities than overseeing the showroom. Four weeks later we were told, ‘You know, someone who really wanted to speak to Katja came by and there was no one here.’ It turned out it was Herbert Grönemeyer, who had been trying to get onto Katja for four weeks! [laughs] A beautiful table for him came out of this.
				img(src="http://41.media.tumblr.com/4f12669e9309374cd617b088927b8397/tumblr_inline_nv73xwl7RV1spa7ad_1280.jpg", alt="article")
				p Alex: That’s where I come into play. I’m a business lawyer and I consult companies, also when they’re starting out. The development of Buchholz—it’s been about ten years now—didn’t just happen on the drawing table. Personal contacts and conversations with our network of friends and acquaintances were far more important. I can give you a good example from when we still had a showroom here in Münzstraße. At the time we didn’t feel it really suited us to have a shop that was always open. So Katja said, ‘Okay, we’ll open up on Saturdays from 12 to 2.’ But then when it got to just before 12 on a Saturday we’d have other priorities than overseeing the showroom. Four weeks later we were told, ‘You know, someone who really wanted to speak to Katja came by and there was no one here.’ It turned out it was Herbert Grönemeyer, who had been trying to get onto Katja for four weeks! [laughs] A beautiful table for him came out of this.
			.article-description
				.label Використані фото:
				a(href="article-vertical.html") http://officiel-online.com/
				a(href="article-vertical.html") http://officiel-online.com/
			.comments-holder
				.label Коментарі

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://40.media.tumblr.com/8352aba84f0f544a2a14b127936bc0fb/tumblr_o1dt16zCYu1uov59ao1_1280.jpg", alt="avatar")
							.img(style="background-image:url(http://40.media.tumblr.com/8352aba84f0f544a2a14b127936bc0fb/tumblr_o1dt16zCYu1uov59ao1_1280.jpg)")
					form.comment-container(action="#")
						.comment-name Duane Manning
						.comment-wysiwyg(contenteditable="true") Write Something…
						textarea.hidden
						.comment-addons
							.input-file
								input( type="file" name="file" id="file-1" )
								label(for="file-1")
									img(src="img/icons/add-file-icon-1.svg")
							button(type="submit") Publish

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://40.media.tumblr.com/932e99ef5eec3857fb0270ccc0b44645/tumblr_o28if3Wo2w1uov59ao1_1280.jpg", alt="avatar")
							.img(style="background-image:url(http://40.media.tumblr.com/932e99ef5eec3857fb0270ccc0b44645/tumblr_o28if3Wo2w1uov59ao1_1280.jpg)")
					.comment-container
						a(href="#").comment-remove
						.comment-name Duane Manning
						.comment-wysiwyg How Great Is The Strength Of Your Belief

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg", alt="avatar")
							.img(style="background-image:url(http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg)")
					.comment-container
						.comment-name Duane Manning
						.comment-wysiwyg That’s where I come into play. I’m a business lawyer and I consult companies, also when they’re starting out. The development of Buchholz—it’s been about ten years now—didn’t just happen on the drawing table.

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg", alt="avatar")
							.img(style="background-image:url(http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg)")
					.comment-container
						.comment-name Duane Manning
						.comment-wysiwyg That’s where I come into play. I’m a business lawyer and I consult companies, also when they’re starting out. The development of Buchholz—it’s been about ten years now—didn’t just happen on the drawing table.
						.comment-addons
							.images-holder
								img(src="http://40.media.tumblr.com/tumblr_m02no4YFdz1r0uit5o1_500.jpg", alt="comment-image")

				//- .comment
				//- 	.comment-image
				//- 	.comment-container
				//- 		.comment-remove
				//- 		.comment-name
				//- 		.comment-wysiwyg
				//- 		.comment-addons




		.static-socials
			.container
				ul.socials.clearfix
					li
						a(href='https://www.facebook.com/sharer.php?src=sp&u=http://makemeat.com/works/lounge_fm&app_id=966242223397117&display=popup&title=Lounge FM&description=Design for iOS Application&picture=http://makemeat.com', target='_blank')
							i.fa.fa-facebook
					li
						a(href='https://twitter.com/intent/tweet?text=Perfect project "Lounge FM" by Meat Agency http://makemeat.com/works/lounge_fm', target='_blank')
							i.fa.fa-twitter
					li
						a(href='https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=&url=http://makemeat.com/works/lounge_fm&title=Lounge FM&content=http://makemeat.com&caption=Design for iOS Application&posttype=link', target='_blank')
							i.fa.fa-tumblr
					li
						a(data-pin-do='buttonBookmark', data-pin-title='Lounge FM', data-pin-media='http://makemeat.com', data-pin-custom='true', target='_blank', data-pin-log='button_pinit_bookmarklet', data-pin-href='https://www.pinterest.com/pin/create/button/')
							i.fa.fa-pinterest
					li
						a(href='https://www.linkedin.com/shareArticle?mini=true&url=http://makemeat.com/works/lounge_fm&title=Lounge FM&summary=Design for iOS Application', target='_blank')
							i.fa.fa-linkedin
				ul.socials.lang.clearfix
					li
						a(href='#') ENG
					li.active
						a(href='#') УКР

		section.articles-gallery-1
			.container

				.article-holder-1
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/90ad0710239feb40430734db212cd789/tumblr_o3h2h81gst1slisbmo4_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/90ad0710239feb40430734db212cd789/tumblr_o3h2h81gst1slisbmo4_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-2
					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=190", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=190)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так

				.article-holder-3
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/dc0eb9a4abc1e019417bf1550f7d86b0/tumblr_nw7eb8lzqI1slisbmo2_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/dc0eb9a4abc1e019417bf1550f7d86b0/tumblr_nw7eb8lzqI1slisbmo2_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/650d888f63b7a39bf79158699772bbb0/tumblr_nw7eb8lzqI1slisbmo1_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/650d888f63b7a39bf79158699772bbb0/tumblr_nw7eb8lzqI1slisbmo1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-7
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/27d5b62368cf54d79a9446f2bbb33bc7/tumblr_o44rnyAM7l1slisbmo4_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/27d5b62368cf54d79a9446f2bbb33bc7/tumblr_o44rnyAM7l1slisbmo4_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося? почитати, щоб мозку прибавилося?

				.article-holder-4
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/7b25f2166bd63afc15f2c4e0f447d421/tumblr_nw7eb8lzqI1slisbmo7_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/7b25f2166bd63afc15f2c4e0f447d421/tumblr_nw7eb8lzqI1slisbmo7_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося? почитати, щоб

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/9704448360e7a07d0eb97c29eeedfcf0/tumblr_nw7eb8lzqI1slisbmo4_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/9704448360e7a07d0eb97c29eeedfcf0/tumblr_nw7eb8lzqI1slisbmo4_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-5
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/ae4a7d7665cc09702758afd5be1ee6fb/tumblr_inline_nv742ofcqE1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/ae4a7d7665cc09702758afd5be1ee6fb/tumblr_inline_nv742ofcqE1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/0eea286cd47f71aeec9298f96c5f0a8c/tumblr_inline_nv748kwdGN1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/0eea286cd47f71aeec9298f96c5f0a8c/tumblr_inline_nv748kwdGN1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-6
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/c7108bd85c1c361ea4c5166648bf2ef4/tumblr_inline_nsq4lyF5IJ1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/c7108bd85c1c361ea4c5166648bf2ef4/tumblr_inline_nsq4lyF5IJ1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/7b8139159d317d5d3d6b11cb7843f8f9/tumblr_ns99w4RYDP1slisbmo1_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/7b8139159d317d5d3d6b11cb7843f8f9/tumblr_ns99w4RYDP1slisbmo1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-1
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/f5152fb90d87caac06fc9dcd826239b8/tumblr_nnovb7PU381slisbmo4_r1_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/f5152fb90d87caac06fc9dcd826239b8/tumblr_nnovb7PU381slisbmo4_r1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»


				.article-holder-8
					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/d76a399289d44eba246214dca192c472/tumblr_nnovb7PU381slisbmo5_r1_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/d76a399289d44eba246214dca192c472/tumblr_nnovb7PU381slisbmo5_r1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»


				.article-holder-3.last
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=188", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=188)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/19d9e29d796241a31deec98ebe4bfbab/tumblr_inline_nv74717zVq1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/19d9e29d796241a31deec98ebe4bfbab/tumblr_inline_nv74717zVq1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»



				.load-more-holder
					.btn.load-more
						span Більше

		#fixed-socials.fixed-socials
			ul.socials
				li
					a(href='https://www.facebook.com/sharer.php?src=sp&u=http://makemeat.com/works/lounge_fm&app_id=966242223397117&display=popup&title=Lounge FM&description=Design for iOS Application&picture=http://makemeat.com', target='_blank')
						i.fa.fa-facebook
				li
					a(href='https://twitter.com/intent/tweet?text=Perfect project "Lounge FM" by Meat Agency http://makemeat.com/works/lounge_fm', target='_blank')
						i.fa.fa-twitter
				li
					a(href='https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=&url=http://makemeat.com/works/lounge_fm&title=Lounge FM&content=http://makemeat.com&caption=Design for iOS Application&posttype=link', target='_blank')
						i.fa.fa-tumblr
				li
					a(data-pin-do='buttonBookmark', data-pin-title='Lounge FM', data-pin-media='http://makemeat.com', data-pin-custom='true', target='_blank', data-pin-log='button_pinit_bookmarklet', data-pin-href='https://www.pinterest.com/pin/create/button/')
						i.fa.fa-pinterest
				li
					a(href='https://www.linkedin.com/shareArticle?mini=true&url=http://makemeat.com/works/lounge_fm&title=Lounge FM&summary=Design for iOS Application', target='_blank')
						i.fa.fa-linkedin
			ul.socials.lang
				li
					a(href='#') ENG
				li.active
					a(href='#') УКР

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
