doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.articles-gallery-2
			.container

				include ./partials/blog.jade

				.load-more-holder
					.btn.load-more
						span Більше

				.pagination-1
					ul
						li.active 1
						li 2
						li 3
						li.gap
						li 95

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
