doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-slider
			.slider-viewport#main-slider
				.slider-holder
					.slide
						.image-holder
							img(src="https://unsplash.it/600/400?image=204")
						.description-holder Lorem ipsum dolor sit.
					.slide
						.image-holder
							img(src="https://unsplash.it/600/400?image=202")
						.description-holder Lorem ipsum dolor sit.
					.slide
						.image-holder
							img(src="https://unsplash.it/600/400?image=200")
						.description-holder Lorem ipsum dolor sit.

		section.articles-gallery-1
			.container
				.article-holder-1
					article
						.image-holder
							img(src="https://unsplash.it/600/400?image=192", alt="article")
						.description
							h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptates optio do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dicta maiores dolores, aliquid assumenda quis, distinctio cumque quos, eveniet ducimus delectus labore vel nulla. Necessitatibus quas nihil molestias ut facere.
				.article-holder-2
					article
						.image-holder
							img(src="https://unsplash.it/600/400?image=190", alt="article")
						.description
							h3 Libero voluptates optio do Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							p Necessitatibus quas nihil molestias ut facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dicta maiores dolores, aliquid assumenda quis, distinctio cumque quos, eveniet ducimus delectus labore vel nulla.
				.article-holder-3
					article
						.image-holder
							img(src="https://unsplash.it/600/400?image=188", alt="article")
						.description
							h3 Libero voluptates optio do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dicta maiores dolores, aliquid assumenda quis, distinctio cumque quos, eveniet ducimus delectus labore vel nulla. Necessitatibus quas nihil molestias ut facere.
					article
						.image-holdre
							img(src="https://unsplash.it/600/400?image=188", alt="article")
						.description
							h3 Libero voluptates optio do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dicta maiores dolores, aliquid assumenda quis, distinctio cumque quos, eveniet ducimus delectus labore vel nulla. Necessitatibus quas nihil molestias ut facere.

		.modal-holder#presentation
					.close-modal
						img(src="img/icons/cross-1.svg" alt="close")
					.modal-content
						.modal-container
							.gallery-slider#gallery-slider
								.slider-viewport
									.slider-holder

										.slide
											.image-holder
												img(src="https://unsplash.it/600/300")

										.slide
											.image-holder
												img(src="https://unsplash.it/600/300")

										.slide
											.image-holder
												img(src="https://unsplash.it/600/300")

		include ./partials/footer.jade

	include ./partials/scripts.jade
