doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-slider#main-slider
			#main-slider-controls
				.slide-prev
					span попередня
				.slide-next
					span наступна
			.slider-viewport.container
				.slider-holder

					.slide
						.slide-content
							a.image-holder(href="article.html" style="background-color:#bccdd5")
								img.fake-img(src="http://36.media.tumblr.com/ddf94802d5d6e873136f33673ec3d1c7/tumblr_njmc69HgQG1slisbmo1_1280.jpg")
								.img(style="background-image:url(http://36.media.tumblr.com/ddf94802d5d6e873136f33673ec3d1c7/tumblr_njmc69HgQG1slisbmo1_1280.jpg)")
							.description-holder Що почитати, щоб мозку прибавилося?

					.slide
						.slide-content
							a.image-holder(href="article.html" style="background-color:#ff6ebf")
								img.fake-img(src="http://41.media.tumblr.com/86eefdb7b668b51729339b3cadfb8e67/tumblr_inline_nxxea5aFGP1spa7ad_1280.jpg")
								.img(style="background-image:url(http://41.media.tumblr.com/86eefdb7b668b51729339b3cadfb8e67/tumblr_inline_nxxea5aFGP1spa7ad_1280.jpg)")
							.description-holder Lorem ipsum dolor sit.

					.slide
						.slide-content
							a.image-holder(href="article.html" style="background-color:#5c45c4")
								img.fake-img(src="http://40.media.tumblr.com/355c4c5196bf6c05e1a37093a7682d09/tumblr_o3h2h81gst1slisbmo1_1280.jpg")
								.img(style="background-image:url(http://40.media.tumblr.com/355c4c5196bf6c05e1a37093a7682d09/tumblr_o3h2h81gst1slisbmo1_1280.jpg)")
							.description-holder Lorem ipsum dolor sit.

		section.articles-gallery-1
			.container

				include ./partials/articles.jade

				.load-more-holder
					.btn.load-more
						span Більше
						//- svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 12 16")
							path(fill="#ffffff" fill-rule="evenodd" d="M 4.5 10.67 L 1.88 8 L 0 9.9 L 6 16 L 12 9.9 L 10.13 8 L 7.5 10.67 L 7.5 0 L 4.5 0 L 4.5 10.67 Z M 4.5 10.67")

				.pagination-1
					ul
						li.active 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li.gap
						li
							a(href="#") 95

		#articles-control
			.first-element 01
			.progress
				.line
			.last-element 16

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
