doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-slider#main-slider
			.slider-viewport
				.slider-holder
					.slide
						.image-holder
							img(src="https://unsplash.it/1200/800?image=204")
						.description-holder Що почитати, щоб мозку прибавилося?
					.slide
						.image-holder
							img(src="https://unsplash.it/1400/600?image=202")
						.description-holder Lorem ipsum dolor sit.
					.slide
						.image-holder
							img(src="https://unsplash.it/600/800?image=200")
						.description-holder Lorem ipsum dolor sit.

		section.articles-gallery-1
			.container
				.article-holder-1
					article
						.image-holder
							img(src="https://unsplash.it/600/400?image=192", alt="article")
						.description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що наш час загубив сутність роботи Крістіана Діора довкола свого модного дому. Про що це я?
				.article-holder-2
					article
						.image-holder
							img(src="https://unsplash.it/600/400?image=190", alt="article")
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що наш час загубив сутність роботи Крістіана Діора довкола свого модного дому. Про що це я?
				.article-holder-3
					article
						.image-holder
							img(src="https://unsplash.it/600/400?image=188", alt="article")
						.description
							h3 Поради: що почитати, щоб
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що наш час загубив сутність роботи Крістіана Діора довкола свого модного дому. Про що це я?
					article
						.image-holdre
							img(src="https://unsplash.it/600/400?image=188", alt="article")
						.description
							h3 Поради: що почитати, щоб мозку прибавилося? Поради: що почитати, щоб
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що наш час загубив сутність роботи Крістіана Діора довкола свого модного дому. Про що це я?

		.modal-holder#presentation
					.close-modal
						//- img(src="img/icons/cross-1.svg" alt="close")
					.modal-content
						.modal-container
							.gallery-slider#gallery-slider
								.slider-viewport
									.slider-holder

										.slide
											.image-holder
												img(src="https://unsplash.it/600/300")

										.slide
											.image-holder
												img(src="https://unsplash.it/600/300")

										.slide
											.image-holder
												img(src="https://unsplash.it/600/300")

		include ./partials/footer.jade

	include ./partials/scripts.jade
