doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.main-slider#main-slider
			.slider-viewport.container
				.slider-holder

					.slide
						.slide-content
							a.image-holder(href="article.html")
								img.fake-img(src="http://40.media.tumblr.com/355c4c5196bf6c05e1a37093a7682d09/tumblr_o3h2h81gst1slisbmo1_1280.jpg")
								.img(style="background-image:url(http://40.media.tumblr.com/355c4c5196bf6c05e1a37093a7682d09/tumblr_o3h2h81gst1slisbmo1_1280.jpg)")
							.description-holder Що почитати, щоб мозку прибавилося?

					.slide
						.slide-content
							a.image-holder(href="article.html")
								img.fake-img(src="http://36.media.tumblr.com/ddf94802d5d6e873136f33673ec3d1c7/tumblr_njmc69HgQG1slisbmo1_1280.jpg")
								.img(style="background-image:url(http://36.media.tumblr.com/ddf94802d5d6e873136f33673ec3d1c7/tumblr_njmc69HgQG1slisbmo1_1280.jpg)")
							.description-holder Lorem ipsum dolor sit.

					.slide
						.slide-content
							a.image-holder(href="article.html")
								img.fake-img(src="http://41.media.tumblr.com/86eefdb7b668b51729339b3cadfb8e67/tumblr_inline_nxxea5aFGP1spa7ad_1280.jpg")
								.img(style="background-image:url(http://41.media.tumblr.com/86eefdb7b668b51729339b3cadfb8e67/tumblr_inline_nxxea5aFGP1spa7ad_1280.jpg)")
							.description-holder Lorem ipsum dolor sit.

		section.articles-gallery-1
			.container

				.article-holder-1
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/90ad0710239feb40430734db212cd789/tumblr_o3h2h81gst1slisbmo4_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/90ad0710239feb40430734db212cd789/tumblr_o3h2h81gst1slisbmo4_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»
					.parallax-element.type-1

				.article-holder-2
					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=190", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=190)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так
					.parallax-element.type-2
					.parallax-element.type-3
					.parallax-element.type-4

				.article-holder-3
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/dc0eb9a4abc1e019417bf1550f7d86b0/tumblr_nw7eb8lzqI1slisbmo2_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/dc0eb9a4abc1e019417bf1550f7d86b0/tumblr_nw7eb8lzqI1slisbmo2_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/650d888f63b7a39bf79158699772bbb0/tumblr_nw7eb8lzqI1slisbmo1_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/650d888f63b7a39bf79158699772bbb0/tumblr_nw7eb8lzqI1slisbmo1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-7
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/27d5b62368cf54d79a9446f2bbb33bc7/tumblr_o44rnyAM7l1slisbmo4_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/27d5b62368cf54d79a9446f2bbb33bc7/tumblr_o44rnyAM7l1slisbmo4_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося? почитати, щоб мозку прибавилося?
					.parallax-element.type-5

				.article-holder-4
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/7b25f2166bd63afc15f2c4e0f447d421/tumblr_nw7eb8lzqI1slisbmo7_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/7b25f2166bd63afc15f2c4e0f447d421/tumblr_nw7eb8lzqI1slisbmo7_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося? почитати, щоб

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/9704448360e7a07d0eb97c29eeedfcf0/tumblr_nw7eb8lzqI1slisbmo4_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/9704448360e7a07d0eb97c29eeedfcf0/tumblr_nw7eb8lzqI1slisbmo4_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»
					.parallax-element.type-6

				.article-holder-5
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/ae4a7d7665cc09702758afd5be1ee6fb/tumblr_inline_nv742ofcqE1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/ae4a7d7665cc09702758afd5be1ee6fb/tumblr_inline_nv742ofcqE1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/0eea286cd47f71aeec9298f96c5f0a8c/tumblr_inline_nv748kwdGN1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/0eea286cd47f71aeec9298f96c5f0a8c/tumblr_inline_nv748kwdGN1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»
					.parallax-element.type-7

				.article-holder-6
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/c7108bd85c1c361ea4c5166648bf2ef4/tumblr_inline_nsq4lyF5IJ1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/c7108bd85c1c361ea4c5166648bf2ef4/tumblr_inline_nsq4lyF5IJ1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/7b8139159d317d5d3d6b11cb7843f8f9/tumblr_ns99w4RYDP1slisbmo1_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/7b8139159d317d5d3d6b11cb7843f8f9/tumblr_ns99w4RYDP1slisbmo1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

				.article-holder-1
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="http://41.media.tumblr.com/f5152fb90d87caac06fc9dcd826239b8/tumblr_nnovb7PU381slisbmo4_r1_1280.jpg", alt="article")
							.img(style="background-image:url(http://41.media.tumblr.com/f5152fb90d87caac06fc9dcd826239b8/tumblr_nnovb7PU381slisbmo4_r1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					.parallax-element.type-8

				.article-holder-8
					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/d76a399289d44eba246214dca192c472/tumblr_nnovb7PU381slisbmo5_r1_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/d76a399289d44eba246214dca192c472/tumblr_nnovb7PU381slisbmo5_r1_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					.parallax-element.type-9

				.article-holder-3.last
					article
						.image-holder(style="background-color:#5c45c4")
							a(href="article.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=188", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=188)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					article
						.image-holder(style="background-color:#ff6ebf")
							a(href="article.html").article-link
								img.fake-img(src="http://40.media.tumblr.com/19d9e29d796241a31deec98ebe4bfbab/tumblr_inline_nv74717zVq1spa7ad_1280.jpg", alt="article")
							.img(style="background-image:url(http://40.media.tumblr.com/19d9e29d796241a31deec98ebe4bfbab/tumblr_inline_nv74717zVq1spa7ad_1280.jpg)")

							ul.socials-holder
								li
									a(href="#", target="_blank")
										i.fa.fa-facebook
								li
									a(href="#", target="_blank")
										i.fa.fa-pinterest
								li
									a(href="#", target="_blank")
										i.fa.fa-twitter
								li
									a(href="#", target="_blank")
										i.fa.fa-tumblr

							.date-holder
								span 25 Jun 2016

						a(href="article.html").description
							h3 Поради: що почитати, щоб мозку прибавилося?
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,»

					.parallax-element.type-10
					.parallax-element.type-11

				.load-more-holder
					.btn.load-more
						span Більше

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
