doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		.profile-holder
			.profile-content
				.avatar-holder
					.image-holder
						img(src="img/content/head-image.svg", alt="avatar")
				form
					.input-file
						input( type="file" name="file" id="file-1" required )
						label(for="file-1") Change profile picture
					.form-group.input-group-1
							.label Name
							input(type="text")
					.form-group.input-group-1
							.label Email
							input(type="text")
					.button-holder
						a(href="password-change.html" data-modal="#password-change").forgot-password Change password
					.button-holder
						button(type="submit") Update
					.button-holder
						a(href="index.html") Sign Out

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
