doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.article-video-header
			.container
				iframe(src="https://player.vimeo.com/video/28161247" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

		section.article-page.video
			.article-name
				h1 Що почитати, щоб мозку прибавилося?
			.article-date
				span 15 Dec 2016
		.article-content.video
			.article-wysiwyg
				p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так само швидко ми зуміли забути ці слова. Сьогодні приймаємо як належне речі, які вчора були революційною історію, стержнем, принципом і сенсом життя. Мабуть, не голосно буде сказано, що
			.comments-holder
				.label Коментарі

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://40.media.tumblr.com/8352aba84f0f544a2a14b127936bc0fb/tumblr_o1dt16zCYu1uov59ao1_1280.jpg", alt="avatar")
							.img(style="background-image:url(http://40.media.tumblr.com/8352aba84f0f544a2a14b127936bc0fb/tumblr_o1dt16zCYu1uov59ao1_1280.jpg)")
					.comment-container
						.comment-name Duane Manning
						.comment-wysiwyg(contenteditable="true") Write Something…
						.comment-addons
							.input-file
								input( type="file" name="file" id="file-1" required )
								label(for="file-1")
									img(src="img/icons/add-file-icon-1.svg")
							button(type="submit") Publish

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://40.media.tumblr.com/932e99ef5eec3857fb0270ccc0b44645/tumblr_o28if3Wo2w1uov59ao1_1280.jpg", alt="avatar")
							.img(style="background-image:url(http://40.media.tumblr.com/932e99ef5eec3857fb0270ccc0b44645/tumblr_o28if3Wo2w1uov59ao1_1280.jpg)")
					.comment-container
						a(href="#").comment-remove
						.comment-name Duane Manning
						.comment-wysiwyg How Great Is The Strength Of Your Belief

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg", alt="avatar")
							.img(style="background-image:url(http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg)")
					.comment-container
						.comment-name Duane Manning
						.comment-wysiwyg That’s where I come into play. I’m a business lawyer and I consult companies, also when they’re starting out. The development of Buchholz—it’s been about ten years now—didn’t just happen on the drawing table.

				.comment
					.comment-image
						.image-holder
							img.fake-img(src="http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg", alt="avatar")
							.img(style="background-image:url(http://41.media.tumblr.com/c0a3a416109a6e182d5824b63c82625e/tumblr_o0eb9h8pCU1uov59ao1_500.jpg)")
					.comment-container
						.comment-name Duane Manning
						.comment-wysiwyg That’s where I come into play. I’m a business lawyer and I consult companies, also when they’re starting out. The development of Buchholz—it’s been about ten years now—didn’t just happen on the drawing table.
						.comment-addons
							.images-holder
								img(src="http://40.media.tumblr.com/tumblr_m02no4YFdz1r0uit5o1_500.jpg", alt="comment-image")

				//- .comment
				//- 	.comment-image
				//- 	.comment-container
				//- 		.comment-remove
				//- 		.comment-name
				//- 		.comment-wysiwyg
				//- 		.comment-addons

		.video-gallery.module
			.container
				.video
					.image-container
						.image-holder
							a(href="video.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=190", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=190)")
					a(href="video.html").description-container
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоменту
				.video
					.image-container
						.image-holder
							a(href="video.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=190", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=190)")
					a(href="video.html").description-container
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом
				.video
					.image-container
						.image-holder
							a(href="video.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=190", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=190)")
					a(href="video.html").description-container
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури

			.load-more-holder
				.btn.load-more
					span Більше
					svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 12 16")
						path(fill="#ffffff" fill-rule="evenodd" d="M 4.5 10.67 L 1.88 8 L 0 9.9 L 6 16 L 12 9.9 L 10.13 8 L 7.5 10.67 L 7.5 0 L 4.5 0 L 4.5 10.67 Z M 4.5 10.67")

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
