doctype html
html(lang='en')
	head
		title BLEVOGUE

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		.video-gallery
			.container
				.video.first
					.image-container
						.image-holder(style="background-color:#acbcd3")
							a(href="video.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=194", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=194)")
					a(href="video.html").description-container
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом прокоментував Крістіан Діор. Так
				.video
					.image-container
						.image-holder(style="background-color:#fca352")
							a(href="video.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=195", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=195)")
					a(href="video.html").description-container
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури, призначені для того, щоб прославляти пропорції жіночого тіла,» – одного разу поспіхом
				.video
					.image-container
						.image-holder(style="background-color:#6298be")
							a(href="video.html").article-link
								img.fake-img(src="https://unsplash.it/600/400?image=193", alt="article")
							.img(style="background-image:url(https://unsplash.it/600/400?image=193)")
					a(href="video.html").description-container
						.description
							h3 Поради: що
							p «Мої плаття – ефемерні предмети архітектури

			.load-more-holder
				.btn.load-more
					span Більше
					svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 12 16")
						path(fill="#ffffff" fill-rule="evenodd" d="M 4.5 10.67 L 1.88 8 L 0 9.9 L 6 16 L 12 9.9 L 10.13 8 L 7.5 10.67 L 7.5 0 L 4.5 0 L 4.5 10.67 Z M 4.5 10.67")

		include ./partials/footer.jade

		include ./partials/modals.jade

	include ./partials/scripts.jade
